In [1]:
import numpy as np
import pandas as pd

In [2]:
mumbai_data = pd.read_csv("Mumbai1_cleaned.csv")
mumbai_data.insert(loc=0, column='Price per sqft', value=None)
mumbai_data['Price per sqft'] = mumbai_data['Price']/mumbai_data['Area']
# mumbai_data.drop(columns=['Price',] , inplace = True)

In [3]:
mumbai_data

,Price per sqft,Price,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,Clubhouse,Intercom,Landscaped Gardens,Indoor Games,Gas Connection,Jogging Track,Swimming Pool
0,7518.796992,5000000,665,Airoli,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0
1,8500.000000,17000000,2000,Airoli,4,0,1,1,1,1,1,1,1,1,1,0,0,1,1
2,8064.516129,12500000,1550,Airoli,3,0,0,1,1,1,1,0,0,1,1,0,1,0,0
3,7664.233577,10500000,1370,Airoli,3,0,0,1,1,1,1,0,0,1,0,0,0,0,0
4,7743.362832,10500000,1356,Airoli,3,0,1,1,1,1,1,0,1,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5903,3521.428571,2465000,700,Worli,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
5904,7236.180905,7200000,995,Worli,2,1,1,1,0,0,0,1,1,1,0,0,1,0,0
5905,6862.745098,7000000,1020,Worli,2,1,1,1,0,0,0,1,1,1,0,0,1,0,0
5906,3550.000000,2485000,700,Worli,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
5907,16111.111111,14500000,900,Worli,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [4]:
#As you can see their is no null values in the dataset
mumbai_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5908 entries, 0 to 5907
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Price per sqft        5908 non-null   float64
 1   Price                 5908 non-null   int64
 2   Area                  5908 non-null   int64
 3   Location              5908 non-null   object
 4   No. of Bedrooms       5908 non-null   int64
 5   New/Resale            5908 non-null   int64
 6   Gymnasium             5908 non-null   int64
 7   Lift Available        5908 non-null   int64
 8   Car Parking           5908 non-null   int64
 9   Maintenance Staff     5908 non-null   int64
 10  24x7 Security         5908 non-null   int64
 11  Children's Play Area  5908 non-null   int64
 12  Clubhouse             5908 non-null   int64
 13  Intercom              5908 non-null   int64
 14  Landscaped Gardens    5908 non-null   int64
 15  Indoor Games          5908 non-null   int64
 16  Gas Connection        5908 non-null   int64
 17  Jogging Track         5908 non-null   int64
 18  Swimming Pool         5908 non-null   int64
dtypes: float64(1), int64(17), object(1)
memory usage: 877.1+ KB

In [5]:
mumbai_data['Location'].unique() #List of all the location in Mumbai;

array(['Airoli', 'Ambarnath', 'Ambivali', 'Andheri', 'Badlapur',
       'Bhayandar', 'Bhiwandi', 'Boisar', 'Borivali', 'Chandivali',
       'Chembur', 'Dadar', 'Dahisar', 'Dattapada', 'Dombivli',
       'Dronagiri', 'Ghansoli', 'Ghatkopar', 'Girgaon', 'Goregaon',
       'Hiranandani', 'Jankalyan Nagar', 'Jawahar Nagar', 'Jogeshwari',
       'Juhu', 'juhu', 'Kalwa', 'Kalyan', 'Kamothe', 'Kandivali',
       'Kanjurmarg', 'Karanjade', 'Kharghar', 'Kharodi', 'Khopoli',
       'Kolshet', 'Kopar Khairane', 'Kurla', 'Magathane', 'Mahalaxmi',
       'Majiwada', 'Malad', 'Manpada', 'Matunga', 'Mira Road', 'Mulund',
       'Naigaon', 'Nala Sopara', 'Neral', 'Palava', 'Palghar', 'Panvel',
       'Parel', 'Powai', 'Santacruz', 'Seawoods', 'Taloja', 'Thane',
       'Titwala', 'Ulwe', 'Vasai', 'Parle', 'Virar', 'Wadala', 'Worli'],
      dtype=object)

In [6]:
# pd.DataFrame(mumbai_data['Location'].value_counts()).to_csv("Location Frequency.csv")
locationF = mumbai_data['Location'].value_counts()

In [7]:
def remove_outliers_grouped(df, group_col, value_col):
    df_no_outliers = pd.DataFrame()
    for name, group in df.groupby(group_col):
        Q1 = group[value_col].quantile(0.25)
        Q3 = group[value_col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        
        filtered_group = group[(group[value_col] >= lower_bound) & (group[value_col] <= upper_bound)]
        df_no_outliers = pd.concat([df_no_outliers, filtered_group])
    return df_no_outliers

mumbai_data = remove_outliers_grouped(mumbai_data, 'Location', 'Price per sqft')
mumbai_data = remove_outliers_grouped(mumbai_data, 'Location', 'Area')

In [8]:
mumbai_data = mumbai_data[mumbai_data['Location'].isin(locationF[locationF>=50].index)]
avg_land_price_by_location = mumbai_data.groupby('Location')['Price'].mean()/mumbai_data.groupby('Location')['Area'].mean()
# avg_land_price_by_location = pd.DataFrame(avg_land_price_by_location)
# avg_land_price_by_location.columns = ['Average Price of 1sqFt']

In [9]:
avg_land_price_by_location

Location
Andheri        11533.325209
Badlapur        7766.881873
Boisar         14951.616284
Borivali       12517.427219
Chembur        12356.683792
Dahisar        12985.656981
Dombivli       11497.831148
Ghatkopar       8324.771341
Goregaon       11378.827707
Kalyan         12153.185731
Kamothe         9903.194967
Kandivali      11445.642609
Kharghar       14218.652950
Malad          15524.020993
Mira Road      11638.595474
Mulund         13218.275985
Naigaon        13776.733960
Nala Sopara    11148.005028
Panvel          6084.088271
Parle           9286.166982
Powai           8172.410045
Taloja         20301.178301
Thane          13163.757648
Ulwe           11765.208380
Vasai           9470.592654
Virar          13217.986640
dtype: float64

In [10]:
import joblib
joblib.dump(avg_land_price_by_location , 'Average_Land_Price_per_sqft.joblib')

['Average_Land_Price_per_sqft.joblib']

In [11]:
type(avg_land_price_by_location)

pandas.core.series.Series

In [12]:
mumbai_data['Average_price_per_sq_ft'] = mumbai_data['Location'].map(avg_land_price_by_location)

In [13]:
mumbai_data

,Price per sqft,Price,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,Clubhouse,Intercom,Landscaped Gardens,Indoor Games,Gas Connection,Jogging Track,Swimming Pool,Average_price_per_sq_ft
112,8902.077151,15000000,1685,Andheri,3,0,1,1,1,1,1,1,1,0,1,1,1,1,1,11533.325209
113,7222.222222,13000000,1800,Andheri,3,0,1,1,1,1,1,1,1,1,0,0,0,1,1,11533.325209
114,10060.606061,16600000,1650,Andheri,3,0,1,1,1,1,1,0,1,1,0,0,0,1,1,11533.325209
115,9318.996416,13000000,1395,Andheri,3,0,1,1,1,1,1,1,1,0,0,0,0,1,1,11533.325209
116,7833.333333,9400000,1200,Andheri,2,0,1,1,1,1,1,1,1,1,1,0,0,1,1,11533.325209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5832,19661.016949,29000000,1475,Virar,3,0,1,1,1,0,1,1,1,1,0,0,1,1,1,13217.986640
5833,7961.783439,12500000,1570,Virar,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,13217.986640
5834,7792.207792,9000000,1155,Virar,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,13217.986640
5835,7605.877269,8800000,1157,Virar,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,13217.986640
5836,7173.725151,8300000,1157,Virar,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,13217.986640

In [14]:
#Performing One Hot Encoding on the Location data
mumbai_data_encoded = pd.get_dummies(mumbai_data , columns=['Location'] , drop_first=False )

In [15]:
'''
The encoding created the columns of diffrent location and named them like "Location_....."
we want to remove this "Location_" so that it become easy to read
'''
for columns in mumbai_data_encoded.columns:
    if(columns.startswith('Location_')):
        mumbai_data_encoded.rename(columns={columns: columns[9:]} , inplace=True)

In [16]:
'''
Our Dataset have Encoded boolean values in the form of True/False.
for this data to be fitted into a model we need to convert this into 1/0.
'''
mumbai_data_encoded

,Price per sqft,Price,Area,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,...,Naigaon,Nala Sopara,Panvel,Parle,Powai,Taloja,Thane,Ulwe,Vasai,Virar
112,8902.077151,15000000,1685,3,0,1,1,1,1,1,...,False,False,False,False,False,False,False,False,False,False
113,7222.222222,13000000,1800,3,0,1,1,1,1,1,...,False,False,False,False,False,False,False,False,False,False
114,10060.606061,16600000,1650,3,0,1,1,1,1,1,...,False,False,False,False,False,False,False,False,False,False
115,9318.996416,13000000,1395,3,0,1,1,1,1,1,...,False,False,False,False,False,False,False,False,False,False
116,7833.333333,9400000,1200,2,0,1,1,1,1,1,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5832,19661.016949,29000000,1475,3,0,1,1,1,0,1,...,False,False,False,False,False,False,False,False,False,True
5833,7961.783439,12500000,1570,3,1,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,True
5834,7792.207792,9000000,1155,2,1,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,True
5835,7605.877269,8800000,1157,2,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,True
5836,7173.725151,8300000,1157,2,1,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,True

In [17]:
mumbai_data_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4517 entries, 112 to 5836
Data columns (total 45 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Price per sqft           4517 non-null   float64
 1   Price                    4517 non-null   int64
 2   Area                     4517 non-null   int64
 3   No. of Bedrooms          4517 non-null   int64
 4   New/Resale               4517 non-null   int64
 5   Gymnasium                4517 non-null   int64
 6   Lift Available           4517 non-null   int64
 7   Car Parking              4517 non-null   int64
 8   Maintenance Staff        4517 non-null   int64
 9   24x7 Security            4517 non-null   int64
 10  Children's Play Area     4517 non-null   int64
 11  Clubhouse                4517 non-null   int64
 12  Intercom                 4517 non-null   int64
 13  Landscaped Gardens       4517 non-null   int64
 14  Indoor Games             4517 non-null   int64
 15  Gas Connection           4517 non-null   int64
 16  Jogging Track            4517 non-null   int64
 17  Swimming Pool            4517 non-null   int64
 18  Average_price_per_sq_ft  4517 non-null   float64
 19  Andheri                  4517 non-null   bool
 20  Badlapur                 4517 non-null   bool
 21  Boisar                   4517 non-null   bool
 22  Borivali                 4517 non-null   bool
 23  Chembur                  4517 non-null   bool
 24  Dahisar                  4517 non-null   bool
 25  Dombivli                 4517 non-null   bool
 26  Ghatkopar                4517 non-null   bool
 27  Goregaon                 4517 non-null   bool
 28  Kalyan                   4517 non-null   bool
 29  Kamothe                  4517 non-null   bool
 30  Kandivali                4517 non-null   bool
 31  Kharghar                 4517 non-null   bool
 32  Malad                    4517 non-null   bool
 33  Mira Road                4517 non-null   bool
 34  Mulund                   4517 non-null   bool
 35  Naigaon                  4517 non-null   bool
 36  Nala Sopara              4517 non-null   bool
 37  Panvel                   4517 non-null   bool
 38  Parle                    4517 non-null   bool
 39  Powai                    4517 non-null   bool
 40  Taloja                   4517 non-null   bool
 41  Thane                    4517 non-null   bool
 42  Ulwe                     4517 non-null   bool
 43  Vasai                    4517 non-null   bool
 44  Virar                    4517 non-null   bool
dtypes: bool(26), float64(2), int64(17)
memory usage: 820.5 KB

In [18]:
'''
we want to convert Boolean Data (True , False) to their integer form (1,0).
So that it can be fitted into our model
'''
from pandas.api.types import is_bool_dtype
for columns in mumbai_data_encoded.columns:
    if(is_bool_dtype(mumbai_data_encoded[columns])):
        mumbai_data_encoded[columns]= mumbai_data_encoded[columns].astype(int)

In [19]:
mumbai_data_encoded

,Price per sqft,Price,Area,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,...,Naigaon,Nala Sopara,Panvel,Parle,Powai,Taloja,Thane,Ulwe,Vasai,Virar
112,8902.077151,15000000,1685,3,0,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
113,7222.222222,13000000,1800,3,0,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
114,10060.606061,16600000,1650,3,0,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
115,9318.996416,13000000,1395,3,0,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
116,7833.333333,9400000,1200,2,0,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5832,19661.016949,29000000,1475,3,0,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,1
5833,7961.783439,12500000,1570,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5834,7792.207792,9000000,1155,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5835,7605.877269,8800000,1157,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5836,7173.725151,8300000,1157,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [20]:
#We are Done with our data filterig
mumbai_data_encoded

,Price per sqft,Price,Area,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,...,Naigaon,Nala Sopara,Panvel,Parle,Powai,Taloja,Thane,Ulwe,Vasai,Virar
112,8902.077151,15000000,1685,3,0,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
113,7222.222222,13000000,1800,3,0,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
114,10060.606061,16600000,1650,3,0,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
115,9318.996416,13000000,1395,3,0,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
116,7833.333333,9400000,1200,2,0,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5832,19661.016949,29000000,1475,3,0,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,1
5833,7961.783439,12500000,1570,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5834,7792.207792,9000000,1155,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5835,7605.877269,8800000,1157,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5836,7173.725151,8300000,1157,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [21]:
mumbai_data_encoded.to_csv("Filtered_Mumbai_data.csv")

In [22]:
mumbai_data_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4517 entries, 112 to 5836
Data columns (total 45 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Price per sqft           4517 non-null   float64
 1   Price                    4517 non-null   int64
 2   Area                     4517 non-null   int64
 3   No. of Bedrooms          4517 non-null   int64
 4   New/Resale               4517 non-null   int64
 5   Gymnasium                4517 non-null   int64
 6   Lift Available           4517 non-null   int64
 7   Car Parking              4517 non-null   int64
 8   Maintenance Staff        4517 non-null   int64
 9   24x7 Security            4517 non-null   int64
 10  Children's Play Area     4517 non-null   int64
 11  Clubhouse                4517 non-null   int64
 12  Intercom                 4517 non-null   int64
 13  Landscaped Gardens       4517 non-null   int64
 14  Indoor Games             4517 non-null   int64
 15  Gas Connection           4517 non-null   int64
 16  Jogging Track            4517 non-null   int64
 17  Swimming Pool            4517 non-null   int64
 18  Average_price_per_sq_ft  4517 non-null   float64
 19  Andheri                  4517 non-null   int64
 20  Badlapur                 4517 non-null   int64
 21  Boisar                   4517 non-null   int64
 22  Borivali                 4517 non-null   int64
 23  Chembur                  4517 non-null   int64
 24  Dahisar                  4517 non-null   int64
 25  Dombivli                 4517 non-null   int64
 26  Ghatkopar                4517 non-null   int64
 27  Goregaon                 4517 non-null   int64
 28  Kalyan                   4517 non-null   int64
 29  Kamothe                  4517 non-null   int64
 30  Kandivali                4517 non-null   int64
 31  Kharghar                 4517 non-null   int64
 32  Malad                    4517 non-null   int64
 33  Mira Road                4517 non-null   int64
 34  Mulund                   4517 non-null   int64
 35  Naigaon                  4517 non-null   int64
 36  Nala Sopara              4517 non-null   int64
 37  Panvel                   4517 non-null   int64
 38  Parle                    4517 non-null   int64
 39  Powai                    4517 non-null   int64
 40  Taloja                   4517 non-null   int64
 41  Thane                    4517 non-null   int64
 42  Ulwe                     4517 non-null   int64
 43  Vasai                    4517 non-null   int64
 44  Virar                    4517 non-null   int64
dtypes: float64(2), int64(43)
memory usage: 1.6 MB